*{
	margin: 0;
	padding: 0;
	list-style: none; 	
}
html{
	scroll-behavior: smooth;
}
.header{
	
	height: 45px;
	background-color: #6970D9;
	font-size: 20px; 
	line-height: 40px; 
	color: white;
	}
	#aqwer{
		text-align: center;
}
#headeer{
	height: 88px; 

}
#a{
float: right;
	width: 110px;
	height: 70px;
	background-color: #4C53D9;
	opacity: 0.8;
	line-height: 66px;
	text-align: center;
	margin:8px;
	border-radius: 10px;
	margin-top: 40px; 
}
ul #a a:hover {
	background-color: #919696;
	width: 110px;
	height: 70px;
	border-radius: 10px; 
	transition: 0.5s;

}
ul #z a:hover{
	background-color: #7CE4E4;
	width: 250px;
	height: 60px; 
}
#z{
	float: right;
	width: 250px;
	height: 60px;
	background-color: #E5ECEB;
		
}
ul #a a{
	color: white;
	display: block;
	text-decoration: none;
}
ul #z a{
	color: black;
	display: block;
	text-decoration: none;
}
ul li ul li {
	display: none;
}
ul li:hover ul li {
	display: block;
}
#rules{
	margin-top: 90px;
	margin-left: 100px;
	height: 1500px;
	width: 85%;
	border-top:solid 1px blue;
	border-bottom: none;
	border-left: none;
	border-right: none; 
}
#rules h1{
	line-height: 100px;
	font-family: cursive;
	color: blue;
	text-decoration: underline;
	text-align:center; 
}
#rules h2{
	margin-bottom:  20px;
}
#rules li{
	font-size: 19px;
	line-height: 25px;
	list-style: circle;
	margin-left: 20px;
	padding: 10px; 
}
#rules strong{
	color: gray;
}
footer{
	height: 360px;
	background:gray;
    display: flex;
	
}
#log{
margin-right:50px;
margin-top: 325px;
background: white; 	
}
 

#box{
	width: 280px;
		height: 260px;
		background: gray;
    margin: 40px;
    border-radius: 5px;
    text-align: center;       
}
#box a{
	font-size: 20px;
	line-height: 50px;
	color: black;
	text-decoration: none;
}
#box a:hover{
	color: white;
	transition: 0.2s;
}
footer p{
    font-size:20px;
     
}
#ab{
	line-height: 100px;
	font-family: cursive;
text-decoration: underline;
}
#lll{
	margin:17px; 
	border-radius: 100px;
	margin-top: 25px;
	  
} 
#lll:hover
{
	background: white;
}
#small{
	height: 50px;
	background: #4C53D9;
	line-height: 30px;
}
.scroll{
	position: fixed;
	bottom: 15px;
	right: 5px;
	z-index: 10;
	cursor: pointer;
	display: block;
	opacity: 0.5;
}
.scroll i{
	height: 30px;
	width: 30px;
	background: black;
	text-align: center;
	border-radius: 100%;
	color: white;
	line-height: 28px;
}

